/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
#container {
	#content {
		padding-top:$header-height1560 + $logo-top-padding*2 + $gutter1024;
	}
}
.wrap {
	max-width:1500px;
}
.header {
	height:$header-height1560 + $logo-top-padding*2;
}

#logo {
	margin:0;
	padding-top:10px;
	a {
		/*width:$upper-header-height1560*4;
		height:$upper-header-height1560;*/
	}
}
.main-menu {
	li {
		a {
			/*height:$header-height1560;
			line-height:$header-height1560;*/
		}
	}
}
.entry-content.has-content-secondary {
	.content-primary {
		flex:0 0 70%;
	}
	.content-secondary {
		flex:0 0 30%;
	}
}

.thumb-list {
	margin-right:-1%;
	.thumb-item {
		margin-right:1%;
		width:19%;
		padding-bottom:19%;
		margin-bottom:1%;
	}
}
/******************************************
Single Screenplay Page
******************************************/
body.single-screenplay {
	.about-writer {
		& > div {
			flex-basis:20%;
			margin-bottom:0;
			padding-bottom:0;
			border-bottom:0;
			padding-right:$gutter*.5;
			padding-left:$gutter*.5;
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
			}
			&.bio {
				flex-basis:40%;
			}
		}
	}
}