/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Portrait

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	#content {
		padding-top:$header-height + $logo-top-padding + $gutter768;
	}
}
.wrap {
	margin:0 $gutter768;
}
#main {
	// border:1px solid $border-color;
	padding:$gutter768/2 $gutter768;
}
.ov {
	.ov-inner-wrapper {
		padding:$gutter768;
	}
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top:2.2em;
}
.widgettitle {
	border-bottom:2px solid #444;
	margin-bottom:0.75em;
}
.widget {
	padding:0 $gutter*.5;
	margin:$gutter*2 0;
	ul {
		li {
			margin-bottom:$gutter;
			ul {
				margin-top:$gutter*.75;
				padding-left:$gutter;
			}
		}
	}
}
/******************************************
PAGE SPECIFIC
******************************************/
body.home {
	.home-slider {
		font-size:2em;
		.slide-man {
			font-size:.75em;
			.slide-content {
				img {
					display:block;
					width:100px;
					margin:$gutter auto 0;
				}
			}
		}
	}
}
/******************************************
Single Screenplay Page
******************************************/
body.single-screenplay {
	.about-writer {
		& > div {
			flex-basis:50%;
			&.union {
				margin-bottom:0;
				padding-bottom:0;
				border-bottom:0;
			}
			&:nth-child(odd) {
				padding-right:$gutter*.5;
			}
			&:nth-child(even) {
				padding-left:$gutter*.5;
			}
		}
	}
}

/******************************************
Account Page & possibly other Ultimate Membership Pro elements
******************************************/
html.guru {
	body.nama {
		.ihc-account-subscr-list thead {
			border-color:$nama-red;
			td {
				&:first-child {
					padding-left:15px;
				}
				&:last-child {
					text-align:right;
				}
			}
		}
	}
	.iump-submit-form {
		input {
			font-size:$gutter768;
			padding:0 $gutter768;
			&:hover {
				background-color:$nama-dark-red !important;
			}
		}
	}
}