/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

$gutter:16px;
$gutter768:24px;
$gutter1024:32px;
$upper-header-height:96px;
$lower-header-height:60px;
$header-height:$upper-header-height + $lower-header-height;
$header-heightScrolled:$header-height;
$header-height1025:$header-height;
$header-height1240:$header-height;
$header-height1560:$header-height;
$logo-top-padding:0;
$footer-height:250px;

/*********************
GENERAL STYLES
*********************/
html {
	&.guru {
		height:100%;
		margin-top:0 !important;
		overflow-x:hidden;
		background:$white;
	}
	&.mobile-nav-active {
		body {
			overflow:hidden;
			height:100%;
			header.header, #inner-header {
				height:100%;
			}
			#inner-header {
				position:relative;
				overflow-y:auto;
				overflow-x:hidden;
			}
		}
	}
	&.theme-dark {
		background:$black;
		&.scrolled {
			.header {
				background-image:none;
				background-color:rgba($black,.9);
			}
		}
		body {
			color:$text-color-theme-dark;
			background-color:$black;
		}
		#container {
			#content {
				background:$black url(../images/gray-dark-grunge.png);
			}
		}
		.header {
			@include linear-gradient($black, rgba($black,0));
			background-color:transparent;
		}
		.main-nav-container {
			background-color:$black;
		}
		.main-menu {
			background-color:rgba($black, .9);
			border-top-color:rgba($white, .1);
			li {
				a {
					color:$white;
					border-bottom-color:rgba($white, .1);
					background-color:transparent;
					&:hover {
						color:$white;
					}
				}
			}
		}
		.trigger-nav {
			color:$black;
			.ic {
				& > span {
					background-color:$white;
				}
			}
			&.active {
				.ic {
					& > span {
						background-color:#white;
					}
				}
			}
		}
		.footer {
			background-image:url(../images/gray-dark-grunge.png), linear-gradient(lighten($black,10%),$black);
			//background:lighten($black,10%) url(../images/gray-dark-grunge.png);
			color:$meta-gray;
			.social {
				.svg-container {
					svg {
						fill:darken($meta-gray,20%);
					}
					&:hover {
						svg {
							fill:$meta-gray;
						}
					}
				}
			}
		}
		.footer-links {
			ul {
				li {
					a {
						color:$meta-gray;
						&:hover {
							color:$white;
						}
					}
				}
			}
		}
	}
}

body {
	height:100%;
	font-family:$bodyfont;
	font-size:$gutter;
	line-height:1.4;
	color:$text-color;
	background-color:$white;
  	-webkit-font-smoothing:antialiased;
  	-moz-osx-font-smoothing:grayscale;
}

.error, .notice {
	padding:12px;
	transition:opacity $transition-speed, height $transition-speed;
	&.resolved {
		overflow:hidden;
		height:0;
		opacity:0;
	}
}
.error {
	background:rgba($nama-bright-red,.1);
	border:1px solid rgba($nama-red,.2);
	color:$nama-red;
}
.notice {
	background:rgba($alert-green,.1);
	border:1px solid rgba($alert-green,.2);
	color:$alert-green;
}

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	position:relative;
	z-index:1;
	height:100%;
	#content {
		background:$white;
		min-height:100%;
		padding-top:$header-height + $logo-top-padding*2 + $gutter;
		@include box-sizing;
		margin-bottom:$footer-height;
		position:relative;
		z-index:1;
		/* stupid spacer for iphones */
		&:after {
			content:"";
			position:absolute;
			width:1px;
			height:$footer-height;
			left:0;
			bottom:$footer-height*-1;
		}
	}
}
#main {
	margin-bottom:$gutter;
}
.wrap {
	margin:0 $gutter;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering:optimizelegibility;
	font-weight:900;
	margin-top:0;
	a {
		text-decoration:none;
	}
}
h1, .h1 {
	font-size: 2em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p, ul, ol {
	margin-top:0;
}

/*********************
HEADER STYLES
*********************/
.header {
	position:fixed;
	z-index:9990;
	background:rgba($white,.9);
	top:0;
	left:0;
	width:100%;
	height:$header-height + $logo-top-padding*2;
	transition:height $transition-speed;
	background-color:$white;
}
.upper-header-container {
	height:$upper-header-height;
}
#logo {
	float:left;
	margin:0;
	padding:$logo-top-padding 0;
	a {
		outline:none;
		display:block;
		width:$upper-header-height*2;
		height:$upper-header-height;
		background:url(../images/logo-nama.jpg) no-repeat;
		background-size:contain;
		background-position:left center;
		text-indent:-9999px;
		transition:height $transition-speed, width $transition-speed;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.nav {
	border-bottom:0;
	margin:0;
	li {
		a {
			display:block;
			color:$black;
			text-decoration:none;
			padding:0.75em;
		}
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left:30px;
				}
			}
		}
	}
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}
}
.main-nav-container {
	position:absolute;
	left:110%;
	top:0;
	width:100%;
	background:$white;
	height:100%;
	@include transition(left .35s);
	&.active {
		left:0;
	}
	& > h5 {
		height:60px;
		line-height:60px;
		text-align:center;
		margin-bottom:0;
	}
}
.main-menu {
	border-bottom: 0;
	margin: 0;
	overflow:auto;
	z-index:9998;
	border-top:1px solid rgba($white, .1);
	li {
		a {
			outline:0;
			padding:0;
			height:$lower-header-height;
			line-height:$lower-header-height;
			text-transform:uppercase;
			color:$black;
			font-size:1em;
			font-weight:bold;
			white-space:nowrap;
			border-bottom:1px solid rgba($black, .1);
			transition:background $transition-speed;
			&:hover {
				background:rgba($nama-red,.5);
				color:$black;
			}
		}
	}
}
.secondary-menu {
	display:none;
}
.trigger-nav {
	height:50px;
	margin-right:8px;
	color:$white;
	position:fixed;
	padding:13px;
	top:7px;
	right:-4px;
	font-size:17px;
	z-index:9999;
	border-bottom:0;
	outline:none !important;
	@include box-sizing;
	@include transition(top .275ms);
	&.active {
		@include box-sizing;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	.ic {
		@include box-sizing;
		padding-top:5px;
		@include transition(all 275ms);
		& > span {
			background:$black;
			@include border-radius(1px);
			display:block;
			height:2px;
			margin-bottom:4px;
			@include transition(all 275ms);
			width:22px;
		}
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				background:#white;
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(6px));
				}
			}
		}
	}
}
.slider {
	position:relative;
	margin-bottom:$gutter;
	.slick-prev {
		left:0;
		@include tri(left, 10px, 20px, $nama-red);
	}
	.slick-next {
		right:0;
		@include tri(right, 10px, 20px, $nama-red);
	}
	.slick-arrow {
		border:0;
		background:transparent;
		position:absolute;
		top:0;
		height:100%;
		z-index:1;
		width:35px;
		cursor:pointer;
		&:after {
			transform:translate(-50%,-50%);
			left:50%;
		}
	}
	.slide {
		position:relative;
		img {
			display:block;
			width:100%;
			margin:0;
		}
	}
	.slide-content {
		position:absolute;
		top:50%;
		transform:translateY(-50%);
	}
}

/* Overlay styles */
html.ov-active {
	overflow:hidden;
	.ov-container {
		width:100%;
		height:100%;
	}
}
.ov-close {
	position:absolute;
	top:0;
	right:0;
	background:$meta-gray;
	height:40px;
	width:40px;
	border:0;
	text-indent:-9999px;
	cursor:pointer;
	transition:background-color $transition-speed;
	&:hover {
		background-color:darken($meta-gray,10%);
	}
	&:before, &:after {
		content:"";
		background:$white;
		border-radius:2px;
		display:block;
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%, -50%) rotate(45deg));
	}
	&:before {
		height:2px;
		width:33px;
	}
	&:after {
		width:2px;
		height:33px;
	}
}
.ov {
	visibility:hidden;
	position:fixed;
	height:100%;
	width:100%;
	@include box-sizing;
	top:0;
	left:0;
	z-index:-9999;
	background:rgba($black, .9);
	padding:$gutter;
	&.active {
		visibility:visible;
		z-index:9995;
	}
	&.too-tall {
		overflow:auto;
		.ov-inner-wrapper {
			transform:none;
			top:auto;
		}
	}
	&.ov-white {
		background:rgba($white, .9);
		.ov-inner-wrapper {
			border:1px solid $border-color;
			background:$white;
		}
	}
	.ov-inner-wrapper {
		width:100%;
		max-width:500px;
		@include box-sizing;
		padding:$gutter;
		margin:0 auto;
		background:$white;
		@include v-center;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.hentry {
	footer {
		p {
			margin: 0;
		}
	}

}
.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}
/* entry content */
.entry-content.has-content-secondary {
	.content-primary {
		margin-bottom:$gutter;
	}
}
.entry-content {
	p {
		margin:0 0 $gutter;
	}
	table {
		width:100%;
		border:1px solid $border-color;
		margin-bottom:$gutter;
		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	tr {
		border-bottom:1px solid $border-color;
		&:nth-child(even) {
			background-color:$light-gray;
		}
	}
	td {
		padding:7px;
		border-right:1px solid $border-color;
		&:last-child {
			border-right: 0;
		}
	}
	th {
		padding:7px;
		text-align:left;
		background-color:darken($light-gray,4%);
		border-bottom:1px solid $border-color;
		border-right:1px solid $border-color;
		&:last-child {
			border-right: 0;
		}
	}
	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}
	}
	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin:0 0 $gutter 0;
		max-width:100%;
		height:auto;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
	pre {
		background:$light-gray;
		color:$red;
		font-size:0.9em;
		padding:$gutter*2;
		margin:0 0 $gutter;
	}
	.wp-caption {
		border:1px solid $border-color;
		padding:8px;
		background:transparent;
		margin-bottom:1.5em;
	}
} /* end .entry-content */
.info-box {
	border-top:1px solid $border-color;
	border-bottom:1px solid $border-color;
	padding:$gutter 0;
	margin-bottom:$gutter*2;
}
.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* Tagging Basic Style */
.tagging {
	border:1px solid $border-color;
	cursor:text;
	font-size:1em;
	height:auto;
	padding:10px 10px 15px;
}
.tag {
	background:$nama-red;
	border-radius:2px;
	color:white;
	cursor:default;
	display:inline-block;
	position:relative;
	white-space:nowrap;
	margin:5px 10px 0 0;
	height:32px;
	line-height:32px;
}
.tag span {
	background:$nama-dark-red;
	border-radius:2px 0 0 2px;
	margin-right:8px;
	padding:0 10px;
	height:100%;
	display:block;
	float:left;
}
.tag .tag-i {
	color:white;
	cursor:pointer;
	font-size:1.3em;
	height:100%;
	top:0;
	text-align:center;
	padding:0 10px;
	margin-left:8px;
	background:$nama-dark-red;
	float:right;
	transition:color $transition-speed, background-color $transition-speed;
}
.tag .tag-i:hover {
	color:$nama-dark-red;
	background-color:$nama-bright-red;
}
.type-zone {
	border:0 none;
	height:auto;
	width:auto;
	min-width:20px;
	display:inline-block;
	background:transparent;
}
.type-zone:focus {
	outline:none;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding:$gutter*.75;
	margin: 0;
	border-top:1px solid $light-gray;
}
.commentlist {
	margin: 0;
	list-style-type: none;
}
.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding:$gutter;
	border-bottom: 1px solid $light-gray;
	.comment-author {
		padding: 7px;
		border: 0;
	}
	/* vcard */
	.vcard {
		margin-left:$gutter*3;
		cite.fn {
			font-weight:700;
			font-style: normal;
			a.url {}
		}
		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;
			a {
				color: $meta-gray;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.avatar {
			position:absolute;
			left:16px;
			border-radius:50%;
		}

	}

	&:last-child {
		margin-bottom: 0;
	}
	&[class*=depth-] {
		margin-top: 1.1em;
	}
	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}
	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}
	// general comment classes
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}
// comment content
.comment_content {
	p {
		margin:$gutter*.5 0 $gutter;
		font-size:1em;
	}
}
// comment reply link
.comment-reply-link {
	@extend .btn-blue;
	font-size: 0.9em;
	float: right;
}
// edit comment link 
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}
#reply-title {
	margin: 0;
}
.logged-in-as {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
	a {
		color: $text-color;
	}
}
.comment-form-comment {
	margin: 1.5em 0 0.75em;
}
.form-allowed-tags {
	padding: 1.5em;
	background-color: $light-gray;
	font-size: 0.9em;
}
// comment submit button
#submit {
	@extend .btn-blue;
	float: right;
	font-size: 1em;
}
// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}
// cancel comment reply link
#cancel-comment-reply {
	a {}
}
// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}
// no comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear:both;
	color:$gray;
	background:$meta-gray;
	overflow:hidden;
	height:$footer-height;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:-1;
	.footer-logo {
		a {
			display:block;
			text-indent:-9999px;
			background:$white url(../images/logo-nama.jpg) no-repeat 50% 50%;
			background-size:contain;
			height:$header-height*.6;
			width:$header-height;
			border:$gutter*.5 solid $white;
		}
	}
	.social {
		text-align:center;
		.svg-container {
			outline:0;
			margin:0 $gutter*.5;
			display:inline-block;
			width:$gutter*3;
			height:$gutter*3;
			&:hover {
				svg {
					fill:$white;
				}
			}
			svg {
				fill:$gray;
				transition:fill $transition-speed;
			}
		}
	}
}
#inner-footer {
	height:100%;
	padding:$gutter 0;
	@include box-sizing;
}
.footer-links {
	border-bottom:1px solid $border-color-theme-dark;
	ul {
		padding-bottom:$gutter*.5;
		display:flex;
		li {
			a {
				padding:$gutter*.75 $gutter;
				border-left:1px solid $border-color-theme-dark;
				color:$gray;
				text-transform:uppercase;
				&:hover {
					color:$white;
				}
			}
			&:first-child a {
				padding-left:0;
				border:0;
			}
			&:last-child a {
				padding-right:0;
			}
		}
	}
} /* end .footer-links */

.copyright {
	font-size:.75em;
	margin-bottom:0;
	@include v-center;
}

/******************************************
ADMIN BAR CUSTOMIZATION
******************************************/
@keyframes wpadminbarHide {
	0% {
		@include transform(translateY(0));
	}
	100% {
		@include transform(translateY(-97%));
	}
}
html body {
	div#wpadminbar {
		border-bottom:1px solid #444;
		z-index:9999 !important;
		animation-name: wpadminbarHide;
		animation-iteration-count:1;
		animation-timing-function:ease-out;
		animation-duration:2s;
		@include transform(translateY(-97%));
		@include transition(transform, 1s);
		&:before {
			content:"";
			display:block;
			position:absolute;
			left:0;
			bottom:-15px;
			height:15px;
			width:31px;
			text-indent:-9999px;
			@include box-sizing;
			background:#23282d;
			/*@include css-gradient($from: #23282d, $to: #353d44, $vstart:"top", $vend:"bottom");*/
			@include border-radius(0 0 5px 5px);
			border:1px solid #444;
			border-top:0;
			border-left-color:#333;
			cursor:pointer;
		}
		&:after {
			content:"";
			border-style:solid;
			border-color:#555 transparent;
			border-width:5px 5px 0;
			position:absolute;
			margin-left:-5px;
			left:15px;
			bottom:-9px;
			cursor:pointer;
		}
		&.wpadminbar-shown {
			& > .wpadminbar-activator {
				display:none;
			}
		}
		&:hover {
			border-bottom:1px solid #444;
			@include transform(translateY(0));
		}
		&.hidden {
			border-bottom:2px solid transparent;
			@include transform(translateY(-97%));
			@include transition(transform, 2s);
		}
	}
	&.hide-admin-bar {
		div#wpadminbar {
			display:none;
		}
	}
}

/******************************************
PAGE SPECIFIC
******************************************/

/******************************************
Home Page
******************************************/
body.home {
	.content-primary {
		max-width:600px;
		margin:0 auto;
	}
	.home-slider {
		p {
			margin-bottom:0;
		}
		.slide-smiling-man {
			.slide-content {
				width:40%;
				margin-left:15%;
			}
		}
		.slide-woman {
			.slide-content {
				width:35%;
				margin-left:53%;
			}
		}
		.slide-man {
			.slide-content {
				width:35%;
				margin-left:53%;
				img {
					display:none;
				}
			}
		}
	}
}

/******************************************
Upload Page
******************************************/
#screenplayUploadForm {
	.logline-container {
		textarea {
			min-height:72px;
		}
	}
	.upload-file-container {
		padding:$gutter;
		border:1px solid $border-color;
		margin-bottom:$gutter;
		input[type=file] {
			height:.1px;
			width:.1px;
			visibility:hidden;
			position:relative;
			z-index:-1;
		}
		.btn-upload.file-selected {
			background-color:transparent;
			color:black;
		}
	}
	.tagging-js {
		max-width:none;
		&.active {
			background-color: lighten($gray, 4%);
		}
	}
}

/**************************************************************
Account Page & possibly other Ultimate Membership Pro elements
**************************************************************/
html.guru {
	body.nama {
		.ihc-ap-wrap, 
		.ihc-level-item-title,
		.ihc-level-item-price {
			font-family:$bodyfont !important;
		}
		.ihc-user-page-top-ap-background {
			background:$nama-red;
			background-image:linear-gradient($nama-bright-red,$nama-red,$nama-dark-red);
		}
		.ich_level_wrap .ihc-level-item-wrap {
			background-image:linear-gradient($nama-bright-red,$nama-red,$nama-dark-red);
			&:hover {
				top:0;
			}
			.ihc-level-item-link {
				transition:color $transition-speed, background-color $transition-speed;
				&:hover {
					color:$white;
					background-color:$nama-bright-red;
				}
			}
		}
		.ihc-level-item-link {
			border-radius:50px;
			font-family:$buttonfont;
		}
		.ihc-user-page-top-ap-wrapper {
			min-height:300px;
			height:auto;
			.ihc-user-page-top-ap-background {
				height:100%;
			}
			.ihc-top-levels {
				height:auto;
			}
		}
	}
	.available-subscriptions {
		display:flex;
		flex-wrap:wrap;
		clear:both;
		.ich_level_wrap {
			flex-basis:33.3%;
			max-width:358px;
			margin:0;
			&:empty {
				display:none;
			}
			.ihc-level-item {
				width:auto;
				max-width:none;
			}
			.ihc-level-item-wrap {
				margin:0;
			}
		}
	}
	.iump-submit-form {
		input {
			border-radius:1.5em;
			background:$nama-red !important;
			transition:background-color $transition-speed;
			border:0;
			font-family:$buttonfont;
			font-size:16px;
			line-height:2em;
			padding:0 gutter;
			&:hover {
				background-color:$nama-dark-red !important;
			}
		}
	}
	.iump-form-line-register {
		input[type="text"], input[type="password"], textarea {
			border-color:$border-color;
			&:hover, &:focus {
				border-color:$nama-bright-red;
			}
		}
		textarea {
			min-height:120px;
		}
	}
	.ihc-upload-image-wrapper {
		text-align:center;
		border:1px solid $border-color;
		padding-bottom:$gutter;
		margin-bottom:$gutter*2;
		.ihc-member-photo {
			display:inline-block;
		}
		.ihc-content-left {
			text-align:center;
			position:relative;
		}
		.ihc-avatar-trigger {
			position:absolute;
			top:0;
			left:50%;
			transform:translateX(-50%);
		}
	}
}

/******************************************
Single Screenplay Page
******************************************/
body.single-screenplay {
	.article-header {
		background:$light-gray;
		padding:$gutter 0;
		margin-bottom:$gutter*2;
		h1 {
			border-bottom:1px solid $border-color;
		}
		h1,h2 {
			padding:0 $gutter;
		}
	}
	.content-primary {
		h3 {
			margin-bottom:2px;
		}
		h3, .info-box {
			padding-left:$gutter;
			padding-right:$gutter;
		}
		.pdfemb-viewer {
			margin:0 -1*$gutter;
		}
	}
}